<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script src="{{url_for('static', filename='exportcsv.js')}}"></script>
</head>

<body>
<button style= "opacity: 0.2;" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
    var mybutton = document.getElementById("myBtn");
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      }else{
        mybutton.style.display = "none";
      }
    }  
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
</script>


  <div class="topnav">
    <a class="active" href="/">Home</a> 
    <div class="login-container"> 
      <form method = POST action="project">
        <button type="submit">
          Save as a project
        </button>
      </form>
    </div> 
  </div>

  <!-- <form method = "POST">
      <div class="topnav">
    <select name="grouping">
      {%for x in headings%}
      <option value = "{{x}}" > {{x}} </option>
      {%endfor%}
    </select>
      </div>
    </form> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg ">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> <b> TEXT CLUSTERING </b></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          Grouping facet:<form method = "POST">
          <select name="grouping">
            {%for x in headings%}
            <option value = "{{x}}" > {{x}} </option>
            {%endfor%}
          </select>
          </form>
          <br>
          <form method = "POST" action = "{{url_for("data")}}">
          Keying method:
          <!-- request.form.get("methods") will work -->
          <select ids = "methods" name = "cluster_method">
            <optgroup label = "Key collision method">
              <option value = "Fingerprint">Fingerprint (Good to start) </option>
              <option value = "N_gram">N-gram Fingerprint </option>
            <optgroup label = "Similarity calculation">
              <option value = "Jaro">Jaro - you may want start with 0.75</option>
              <option value = "Jaro_winkler"> Jaro Winkler </option>
              <option value = "Levenshtein_sim">Levenshtein Distance Smilarity </option>
              <option value = "Damerau_sim"> Damerau-Levenshtein Distance Similarity </option>
            <optgroup label = "KNN method">
              <option value = "Levenshtein" >Levenshtein Distance </option>
              <option value = "Damerau" >Damerau-Levenshtein Distance </option>
              <option value = "Hamming" >Hamming Distance </option>              
          </select>
          <input type="submit" value="Submit" style="float: right;">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<h4> Dataset contains <b style="color: red;">{{headings|length}}</b> columns and <b style="color: red;">{{data|length}}</b> records</h4>
<br>
  <div>
    <b>Toggle show column:</b> 
    {% for x in headings%}
    <a class="toggle-vis" data-column="{{loop.index - 1}}">[{{x}}]</a>
    {%endfor%}
  </div>
<br>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Cluster </button>
<button id="btnExportToCsv" type="button" class="btn btn-info btn-lg">Export to CSV</button>
  <div class="table-responsive">
  <table class="table table-sm table-striped table-bordered display" id = "table">
    <thead>
      <tr>
        {% for x in headings%}
        <th>{{ x }}</th>
        {%endfor%}
      </tr>
    </thead>
    <tbody>
      {% for x in values%}
      <tr>
        {% for i in x%}
        <td>{{i}}</td>
        {% endfor %}
      </tr>
      {%endfor%}
    </tbody> 
</table>

<script>
  const dataTable = document.getElementById("table");
  const btnExportToCsv = document.getElementById("btnExportToCsv");

  btnExportToCsv.addEventListener("click", () => {
      const exporter = new TableCSVExporter(dataTable);
      const csvOutput = exporter.convertToCSV();
      const csvBlob = new Blob([csvOutput], { type: "text/csv" });
      const blobUrl = URL.createObjectURL(csvBlob);
      const anchorElement = document.createElement("a");

      anchorElement.href = blobUrl;
      anchorElement.download = "table-export.csv";
      anchorElement.click();

      setTimeout(() => {
          URL.revokeObjectURL(blobUrl);
      }, 500);
  });
</script>
{% block scripts %}
<script>
$(document).ready(function() {
    var table = $('table').DataTable({ "lengthMenu": [[10, 25, 50, 100, 200, 500, 1000, -1],[10, 25, 50, 100, 200, 500, 1000, "All"]]});
    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();
        var column = table.column($(this).attr('data-column'));
        column.visible(!column.visible());
    });
});
</script>
{% endblock %}

</body>
</html>